<div style="text-align: center;">
    <img src="/fondprestation.svg" alt="fondpresta" class="responsive-img" />
</div>
  
<h3 class="teal lighten-3 white-text responsive-header" style="text-align: center; margin: 30px auto; border-radius: 25px;">
    Spécialisé dans le détachage, retrouvez nos diverses prestations
</h3>

<div class="presta1" style="margin: 50px 10px;">
    <ul>
        <li>• Nettoyage à sec (Dry Cleaning) : 
            <p> Utilisation de solvants chimiques au lieu d'eau pour éliminer les taches et la saleté des tissus délicats qui pourraient être endommagés par l'eau.</p>
        </li>
        <li>• Lavage à l'eau : 
            <p>Certains vêtements, en particulier ceux en coton ou en fibres naturelles, peuvent être lavés à l'eau.</p>
        </li>
        <li>• Repassage à la vapeur : 
            <p>Le repassage à la vapeur est utilisé pour éliminer les plis des vêtements.</p>
        </li>
        <li>• Repassage à sec : 
            <p>Certains vêtements nécessitent un repassage à sec avec un fer à repasser.</p>
        </li>
        <li>• Détachage : 
            <p>Le détachage est une technique spécifique visant à éliminer les taches tenaces ou spécifiques.</p>
        </li>
        <li>• Finition manuelle : 
            <p>Certains vêtements nécessitent une finition manuelle.</p>
        </li>
        <li>• Empesage :
            <p>Application de l'empesage sur les cols et les poignets pour les rendre plus rigides.</p>
        </li>
    </ul>
</div>

<h3 class="teal lighten-3 white-text responsive-header" style="text-align: center; margin: 30px auto; border-radius: 25px;">
    Nos techniques de détachage
</h3>

<div class="container-fluid">
    <div class="row" style="margin: 50px 0;">
        <div class="col s12 m6">
            <ul>
                <li>• Prétraitement des taches</li>
                <li>• Utilisation de détachants commerciaux</li>
                <li>• Détachage à sec</li>
                <li>• Détachage par tamponnage</li>
                <li>• Détachage enzymatique</li>
                <li>• Détachage à froid</li>
                <li>• Détachage à chaud</li>
            </ul>
        </div>
        <div class="col s12 m4">
            <img src="/bacalinge.svg" alt="bacalinge.svp" class="responsive-img z-depth-2" style="border-radius: 40px; width: 500px;" />
        </div>
    </div>
</div>
