<div style="text-align: center;">
    <img src="/fondprestation.svg" alt="fondpresta" style="width: 1903px; margin: 0 auto;" />
</div>
  
<h3 class="indigo darken-4 white-text" style="text-align: center; margin: 30px 50px 20px; border-radius: 25px; width: 1500px;">
    Spécialisé dans le détachage, retrouvez nos diverses prestations
</h3>



  <div class="presta1" style="margin: 50px 90px 50px;">
    <ul>
        <li>• Nettoyage à sec (Dry Cleaning) : 
            <p> Utilisation de solvants chimiques au lieu d'eau pour éliminer les taches et la saleté des tissus délicats qui pourraient être endommagés par l'eau. Les vêtements sont placés dans une machine de nettoyage à sec qui utilise des solvants spécifiques.</p>
        </li>
        <li>• Lavage à l'eau : 
            <p>Certains vêtements, en particulier ceux en coton ou en fibres naturelles, peuvent être lavés à l'eau. Cela implique généralement l'utilisation de détergents spéciaux et de machines à laver professionnelles.</p>
        </li>
        <li>• Repassage à la vapeur : 
            <p>Le repassage à la vapeur est utilisé pour éliminer les plis des vêtements. La vapeur est appliquée à haute pression pour détendre les fibres du tissu, facilitant ainsi le lissage.</p>
        </li>
        <li>• Repassage à sec : 
            <p>Certains vêtements nécessitent un repassage à sec avec un fer à repasser. Cela peut être fait à l'aide d'une presse à repasser spéciale qui n'utilise pas de vapeur.</p>
        </li>
        <li>• Détachage : 
            <p>Le détachage est une technique spécifique visant à éliminer les taches tenaces ou spécifiques. Différents agents détachants peuvent être utilisés en fonction de la nature de la tache.</p>
        </li>
        <li>• Finition manuelle : 
            <p>Certains vêtements nécessitent une finition manuelle pour s'assurer que les détails délicats sont préservés. Cela peut inclure la retouche des coutures, la réparation des boutons, etc.</p>
        </li>
        <li>• Empesage :
            <p>Cette technique consiste à appliquer de l'empesage sur les cols et les poignets des chemises pour les rendre plus rigides.</p>
        </li>
    </ul>
  </div>

  <h3 class="indigo darken-4 white-text" style="text-align: center; margin: 30px 50px 20px; border-radius: 25px; width: 1000px;">Nos techniques de détachage</h3>
  

<div class="container-fluid">
    <div class="row" style="margin: 50px 90px 50px;">
        <div class="col s12 m6">
            <div>
                <ul>
                    <li>• Prétraitement des taches</li>
                    <li>• Utilisation de détachants commerciaux</li>
                    <li>• Détachage à sec</li>
                    <li>• Détachage par tamponnage</li>
                    <li>• Détachage enzymatique</li>
                    <li>• Détachage à froid</li>
                    <li>• Détachage à chaud </li>
                </ul>
            </div>
            <div class="col s12 m6" style="margin: 50px 90px 50px;">
                <img src="/bacalinge.svg" alt="bacalinge.svp" class="responsive-img z-depth-2" style= "width:500px; border-radius: 40px;"/>
            </div>
        </div>
    </div>
</div>
