<nav>
  <div class="nav-wrapper teal lighten-3">
      <!-- Logo -->
      <a href="" class="brand-logo">
          <img src="logo.svg" alt="logo" style="width: 60px;">
      </a>
      <!-- Bouton pour le menu mobile -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">
          <img src="menu.svg" alt="menu" style="width: 30px; margin-top: 12px;">
        </i>
      </a>
      <!-- Menu desktop -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">ACCUEIL</a></li>
          <li><a href="prestation">NOS PRESTATIONS</a></li>
          <li><a href="category">COMMANDER</a></li>
          <li><a href="contact">CONTACT</a></li>
          <li><a href="panier">
              <img src="panier.svg" alt="panier" style="width: 30px; margin-top: 12px;">
              <p class="item_counter">{{ numberOfItems }}</p>
          </a></li>
          <li><a href="user">COMPTE</a></li>
      </ul>
  </div>
</nav>

<!-- Menu mobile -->
<ul class="sidenav teal lighten-3" id="mobile-demo">
  <li><a href="">ACCUEIL</a></li>
  <li><a href="prestation">NOS PRESTATIONS</a></li>
  <li><a href="category">COMMANDER</a></li>
  <li><a href="contact">CONTACT</a></li>
  <li><a href="panier">PANIER</a></li>
  <li><a href="user">COMPTE</a></li>
</ul>
