
  html, body {
    height: 100%;
    margin: 0;
  }

  .page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
  }

  .container {
    flex: 1;
  }
