<body>

<div class="container">
  <!-- Contenu de la page ici -->
</div>

<footer class="page-footer teal lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="black-text">A propos</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">Mentions Légales</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Conditions de vente</a></li>
          <li><a class="black-text text-lighten-3" href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="black-text">Cosy Press</h5>
        <ul>
          <li><a class="black-text text-lighten-3">6 rue de la liberté,</a></li>
          <li><a class="black-text text-lighten-3">69007 Lyon</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="black-text">Horaires</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">Lun-Ven:</a></li>
          <li><a class="black-text text-lighten-3" href="#!">7h30-12h30/14h-19h</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Sam: 8h30-12h30</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Dim: Fermé</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>