<div style="text-align: center;">
    <img src="/fondaccueil.svg" alt="fondaccueil" style="width: 100%; max-width: 1903px; height: auto; margin: 0 auto;" />
</div>


<body>

    <div class="container-custom z-depth-3">
        <div class="header">Commande Validée !</div>

        <div class="logo">
            <img src="logo.svg" alt="Logo" width="100">
        </div>

        <p>Merci pour votre commande <strong>#10656265</strong>, nos employés s'en occupent très prochainement.<br>
           Vous serez avertis de l'acheminement.</p>

        <div class="recap">
            <p><strong>Récapitulatif :</strong></p>
            <p>Dépôt : 10/02/2025</p>
            <div class="recap-item">
                <span>Chemise x5</span>
                <span>75€</span>
            </div>
            <div class="recap-item">
                <span>Pantalon x2</span>
                <span>20€</span>
            </div>
        </div>

        <div class="total-section">
            <span>Montant total payé (7 articles) :</span>
            <span class="total-price">95€</span>
        </div>
    </div>