<div style="text-align: center;">
    <img src="/fondaccueil.svg" alt="fondaccueil" style="width: 100%; max-width: 1903px; height: auto; margin: 0 auto;" />
</div>


<body>

    <div class="container-custom z-depth-3">
        <div class="header">Commande Validée !</div>

        <div class="logo">
            <img src="logo.svg" alt="Logo" width="100">
        </div>

        <p>Merci pour votre commande <strong>{{ orderId }}</strong>, nos employés s'en occupent très prochainement.<br>
           Vous serez avertis de l'acheminement.</p>

           <div class="recap">
            <p><strong>Récapitulatif :</strong></p>
            <div *ngFor="let item of validatedCartItems" class="recap-item">
                <span>{{ item.name }} x{{ item.quantity }}</span>
                <span>{{ item.total }}€</span>
            </div>
        </div>

        <div class="total-section">
            <span>Montant total payé ({{ validatedCartItems.length }} articles) :</span>
            <span class="total-price">{{ validatedTotalAmount }}€</span>
        </div>
    </div>