<div style="text-align: center;">
    <img src="/fondprestation.svg" alt="fondpresta" style="width: 1903px; margin: 0 auto;" />
</div>


<h3 class="align-center" style="text-align: center; margin: 20px 50px 20px;">
    Commandez votre réservation pour un service garantie : 
</h3>


<div class="row" style="display: flex; justify-content: center; text-align: center;">
    <!-- Première rangée de cartes -->
    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="chemise.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ;">
            </div>
            <div class="card-content">
                <span class="card-title">Chemise</span>
                <p>prix : 15€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="pantalon.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Pantalon</span>
                <p>prix : 10€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="pull.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Pull</span>
                <p>prix : 7.50€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: flex; justify-content: center; text-align: center;">
    <!-- Deuxième rangée de cartes -->
    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="robe.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Robe</span>
                <p>prix : 14€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="jupe.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Jupe</span>
                <p>prix : 9.50€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="manteau.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Manteau</span>
                <p>prix : 19€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: flex; justify-content: center; text-align: center;">
    <!-- Troisième rangée de cartes -->
    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="costume.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Costume, Robe de soirée</span>
                <p>prix : à partir de 21€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="tapis.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <div class="card-content">
                <span class="card-title">Ameublement, Tapis</span>
                <p>prix : à partir de 20€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3" style="margin-bottom: 20px;">
        <div class="card" style="border-radius: 28px; width: 382px;">
            <div class="card-image">
                <img src="blanchisserie.svg" style="border-radius: 15px 15px 0 0; width: 382px;height: 303px ">
            </div>
            <span class="card-title">Blanchisserie, Cuir, soie</span>
            <div class="card-content">
                <p>prix : à partir de 12€</p>
                <a class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>
</div>