<body>

<div style="text-align: center;">
<img src="/fondprestation.svg" alt="fondpresta" style="width: 100%; height: auto;" />
</div>

<h3 class="align-center" style="text-align: center; margin: 20px;">
Commandez votre réservation pour un service garanti :
</h3>

<div class="container">
<div class="row">
    <!-- Première rangée de cartes -->
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="chemise.svg" alt="Chemise">
            </div>
            <div class="card-content">
                <span class="card-title">Chemise</span>
                <p>prix : 15€</p>
                <a (click)="goToArticle('Chemise', 15, 'chemise.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="pantalon.svg" alt="Pantalon">
            </div>
            <div class="card-content">
                <span class="card-title">Pantalon</span>
                <p>prix : 10€</p>
                <a (click)="goToArticle('Pantalon', 10, 'pantalon.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="pull.svg" alt="Pull">
            </div>
            <div class="card-content">
                <span class="card-title">Pull</span>
                <p>prix : 7.50€</p>
                <a (click)="goToArticle('Pull', 7, 'pull.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Deuxième rangée de cartes -->
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="robe.svg" alt="Robe">
            </div>
            <div class="card-content">
                <span class="card-title">Robe</span>
                <p>prix : 14€</p>
                <a (click)="goToArticle('Robe', 14, 'robe.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="jupe.svg" alt="Jupe">
            </div>
            <div class="card-content">
                <span class="card-title">Jupe</span>
                <p>prix : 9.50€</p>
                <a (click)="goToArticle('Jupe', 9, 'jupe.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="manteau.svg" alt="Manteau">
            </div>
            <div class="card-content">
                <span class="card-title">Manteau</span>
                <p>prix : 19€</p>
                <a (click)="goToArticle('Manteau', 19, 'manteau.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Troisième rangée de cartes -->
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="costume.svg" alt="Costume">
            </div>
            <div class="card-content">
                <span class="card-title">Costume, Robe de soirée</span>
                <p>prix : 21€</p>
                <a (click)="goToArticle('Costume, Robe de soirée', 21, 'costume.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="tapis.svg" alt="Tapis">
            </div>
            <div class="card-content">
                <span class="card-title">Ameublement, Tapis</span>
                <p>prix : 20€</p>
                <a (click)="goToArticle('Ameublement, Tapis', 20, 'tapis.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="blanchisserie.svg" alt="Blanchisserie">
            </div>
            <div class="card-content">
                <span class="card-title">Blanchisserie, Cuir, Soie</span>
                <p>prix : 12€</p>
                <a (click)="goToArticle('Blanchisserie, Cuir, Soie', 12, 'blanchisserie.svg')" class="btn teal lighten-3 halfway-fab waves-effect waves-light" style="margin: 20px;">Voir</a>
            </div>
        </div>
    </div>
</div>
</div>