body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 0;
}
.payment-container {
    background-color: #80cbc4;
    padding: 20px;
    border-radius: 60px;
    width: 700px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.payment-header {
    background-color: #1c3359;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}
.payment-logo {
    display: block;
    margin: 20px auto 20px auto;
    width: 100px;
}
.payment-icons {
    text-align: center;
    margin-bottom: 20px;
}
.payment-icons img {
    width: 105px;
    margin: 20px;
}
.input-field {
    margin-bottom: 20px;
}
.input-field input {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    padding: 1px;
    border-radius: 5px;
}
.input-field label {
    font-size: 16px;
    margin-bottom: 5px;
}
.helper-text {
    font-size: 12px;
    color: black;
    margin-top: -10px;
}

.btn-large {
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centre le texte horizontalement */
    align-items: center; /* Centre le texte verticalement */
    border-radius: 20px;
    width: 45%;
    background-color: #80cbc4; /* Couleur de fond visible */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    padding: 15px; /* Espace autour du texte */
    margin: 10px 0; /* Espace entre les boutons */
    cursor: pointer; /* Curseur en forme de main */
    border:none;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
  
.btn-large[type="button"] {
    background-color: #dc3545; /* Couleur différente pour le bouton Annuler */
}
  
.btn-large:hover {
    opacity: 0.9; /* Légère transparence au survol */
}

  
.button-container {
    display: flex;
    justify-content: space-between; /* Espace entre les deux boutons */
    align-items: center;
    width: 100%;
}
  
.button-container .btn-large i {
    vertical-align: middle; /* Aligne les icônes verticalement avec le texte */
}
  
.error { /*Styles supplémentaires pour les messages d'erreur*/
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  

.inner-box {
    background-color: #f0f0f0; /* Gris clair pour l'encadré */
    border: 1px solid #b0b0b0; /* Bordure grise */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

