<div style="text-align: center;">
    <img src="/fondpanier.svg" alt="fondaccueil" style="width: 1903px; margin: 0 auto;" />
</div>

    <h3 class="align-center" style="text-align: center; margin: 20px 30px 20px; color: #111942 ;">
        Votre panier
    </h3>
<body>

    <div class="recap-container z-depth-2">
        <div class="recap-header">Récapitulatif de la commande</div>
    
        <div class="recap-item">
            <span><strong>Chemise</strong> x5</span>
            <span>75€</span>
        </div>
        <div class="recap-item">
            <span><strong>Pantalon</strong> x2</span>
            <span>20€</span>
        </div>
    
        <div class="recap-item" style="border: none;">
            <span>Dépôt des articles: 10/02/2025</span>
        </div>
    
        <div class="total-section">
            <span class="total-label">Sous-total (7 articles):</span>
            <span class="total-price">95€</span>
        </div>
    
        <div class="btn-container">
            <a class="btn btn-large btn-custom waves-effect waves-light" href="#">Passer la commande</a>
        </div>
    
        <div class="btn-container">
            <a class="btn btn-small btn-custom waves-effect waves-light" href="#">Créer un compte</a>
            <a class="btn btn-small btn-custom waves-effect waves-light" href="#">Se connecter</a>
        </div>
    </div>