<div class="img-container" style="text-align: center;">
    <img src="/fondpanier.svg" alt="fondaccueil" class="img-responsive" style="width: 100%; max-width: 1903px; margin: 0 auto;"/>
</div>

<h3 class="align-center" style="text-align: center; margin: 20px 30px 20px; color: #111942 ;">
    Votre panier
</h3>

<body>
    <div class="recap-container z-depth-2">
        <div class="recap-header">Récapitulatif de la commande</div>

        <div *ngFor="let item of cartItems" class="cart-item">
            <div class="recap-item">
                <span><strong>{{ item.name }}</strong> x{{ item.quantity }}</span>
                <span>{{ item.total }}€</span>
            </div>
            <div class="recap-item">
                <span>Dépôt des articles: {{ item.date }}</span>
            </div>
            <div class="recap-item">
                <span>Lavage : {{ item.lavage ? 'Oui' : 'Non' }}</span>
            </div>
            <div class="recap-item">
                <span>Repassage : {{ item.repassage ? 'Oui' : 'Non' }}</span>
            </div>
        </div>

        <div class="total-section">
            <span class="total-label">Sous-total ({{ cartItems.length }} articles):</span>
            <span class="total-price">{{ getTotal() }}€</span>
        </div>

        <div class="btn-container">
            <a class="btn btn-large btn-custom" href="paiement">Passer la commande</a>
        </div>

        <div class="btn-container">
            <a class="btn btn-small btn-custom" href="signin">Créer un compte</a>
            <a class="btn btn-small btn-custom" href="login">Se connecter</a>
        </div>
    </div>
</body>