<div style="text-align: center;">
    <img src="/fondprestation.svg" alt="fondpresta" class="responsive-img" />
</div>

<h3 class="align-center" style="text-align: center; margin: 20px 30px 20px; color: #111942 ;">
    Chemise
</h3>

<body>
    <div class="container">
        <div class="description">
            <p>• Votre chemise préférée repassée avec notre savoir-faire traditionnel.</p>
            <p>• On ne confie pas vos vêtements à n'importe qui : notre professionnelle du pressing traite votre chemise avec amour.</p>
        </div>

        <div class="product-image">
            <img src="article1.svg" alt="Chemise" style="width: 350px;">
        </div>

        <div class="options">
            <div class="option-group">
                <label>Lavage</label>
                <div class="buttons">
                    <button>oui</button>
                    <button>non</button>
                </div>
            </div>

            <div class="option-group">
                <label>Repassage</label>
                <div class="buttons">
                    <button>oui</button>
                    <button>non</button>
                </div>
            </div>

            <div class="option-group">
                <label>Quantité</label>
                <div class="quantity">
                    <button class="quantity-btn">+</button>
                    <input type="text" value="5" readonly>
                    <button class="quantity-btn">-</button>
                </div>
                <p class="price">prix : 75€</p>
            </div>

            <div class="option-group">
                <label>Date de dépôt</label>
                <input type="text" value="10/02/2025" readonly>
            </div>
        </div>

        <div class="cart-button">
            <button>Ajouter au panier</button>
        </div>
    </div>