<div style="text-align: center;">
    <img src="/fondaccueil.svg" alt="fondaccueil" style="width: 100%; max-width: 1903px; margin: 0 auto;" />
</div>

<h3 class="align-center" style="text-align: center; margin: 20px 30px 20px; color: #111942;">
    Se connecter
</h3>

<body>
    <div class="login-container z-depth-2">
        <form action="#!">
            <div class="input-field">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" class="validate" required [(ngModel)]="loginObject.email">
            </div>

            <div class="input-field">
                <label for="password">Mot de passe</label>
                <input id="password" name="password" type="password" class="validate" required [(ngModel)]="loginObject.password">
            </div>

            <a href="#!" class="forgot-password">Mot de passe oublié ?</a>

            <div class="checkbox-field">
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Mémoriser l’accès</span>
                </label>
            </div>

            <div class="button-container">
                <button class="btn create-account" type="button">
                    <a href="signin">
                        Créer un compte
                    </a>
                </button>
                <button class="btn submit-button" type="submit" (click)="onLogin()">
                  Se connecter
                </button>
            </div>
        </form>
    </div>
</body>
