<div style="text-align: right;">
    <img src="/fondutilisateur.svg" alt="fondutilisateur" class="responsive-img" style="width: 1900px;"/>
</div>


<body>

    <!-- Barre de navigation latérale -->
    <ul id="slide-out" class="sidenav sidenav-fixed side-nav">
        <!-- <li>
            <div class="brand-logo" style="display: flex; justify-content: center; align-items: center;">
                <img class="logo" src="logo.svg" alt="logo" style="width: 120px;">
            </div>
        </li> -->
        <li><a href="/" class="waves-effect">Accueil</a></li>
        <li><a href="#reservations" class="waves-effect">Mes réservations</a></li>
        <li><a href="#coordonnees" class="waves-effect">Mes coordonnées</a></li>
        <li><a href="#!" class="waves-effect">Déconnexion</a></li>
    </ul>

    <!-- Contenu principal -->
    <main class="main-content">


        <!-- Section de réservation -->
         <div class="reservation-card">
        <div class="header">
            Ma réservation
        </div>

        {{ orders }}

        <div class="content">
            <p><strong>Commande :</strong> #10656265</p>
            <p><strong>Nom :</strong> Mira Céline</p>
            <p><strong>Dépôt :</strong> 10/02/2025</p>
            <p><strong>Statut :</strong> Payée</p>

            <h6>Articles :</h6>
            <ul>
                <li>• 5 chemises</li>
                <li>• 2 pantalons</li>
            </ul>
        </div>
    </div>
    </main>
