<div style="text-align: center;">
  <img src="/fondaccueil.svg" alt="fondaccueil" style="width: 1903px; margin: 0 auto;" />
</div>



<div class="align-center" style="text-align: center; margin: 20px 0;">
  <p>Bernard et Laëtitia dirigent avec succès Cosy Press,</p>
  <p>leur pressing établi depuis plusieurs années et devenu très populaire en ville. La renommée de</p>
  <p>l'entreprise repose sur leur expertise spécialisée dans les techniques de pressing, où ils prennent grand soin de chaque type de matière textile.</p>
  <p>Leur réputation favorable témoigne de l'appréciation générale de la clientèle pour la qualité des</p>
  <p>services offerts par Cosy Press.</p>
</div>






<div class="row d-flex justify-content-center" style="display: flex; justify-content: center; flex-wrap: wrap; text-align: center;">
  <div class="col s12 m3" style="margin: 10px;">
      <div class="card teal lighten-4" style="border-radius: 40px;">
          <div class="card-content black-text" style="border-radius: 40px;">
              <span class="card-title">
                  <p>Nettoyage à sec</p>
                  <p>Lavage à l'eau</p>
                  <img src="/eau.svg" alt="eau" style="width: 50px; margin-top: 20px;">
              </span>
          </div>
      </div>
      <p>2 techniques pour un résultat optimal</p>
  </div>

  <div class="col s12 m3" style="margin: 10px;">
      <div class="card teal lighten-4" style="border-radius: 40px;">
          <div class="card-content black-text" style="border-radius: 40px;">
              <span class="card-title">
                  <p>Blanchisserie,</p>
                  <p>Cuir, Soie</p>
                  <img src="/petitechemise.svg" alt="chemise" style="width: 50px; margin-top: 20px;">
              </span>
          </div>
      </div>
      <p>Drap, drap housse, housse de couette, taies d’oreillers, nappes, alèzes, on s’occupe de vos cuirs et soies</p>
  </div>

  <div class="col s12 m3" style="margin: 10px;">
      <div class="card teal lighten-4" style="border-radius: 40px;">
          <div class="card-content black-text" style="border-radius: 40px;">
              <span class="card-title">
                  <p>Ameublement</p>
                  <p>Tapis</p>
                  <img src="/petittapis.svg" alt="tapis" style="width: 50px; margin-top: 20px;">
              </span>
          </div>
      </div>
      <p>Rideaux, voilages, couverture, plaid, couettes, oreillers, dessus de lit, canapés,</p>
      <p>Tout types de tapis</p>
  </div>
</div>




<div style="text-align: center;">
  <img src="/ferarepasser.svg" alt="fer" style="width: 1080px; margin: 0 auto;" />
</div>




<div class="align-center" style="text-align: center; margin: 50px 0;">
  <p>Laëtitia et Bernard se distinguent par leur engagement envers l'excellence dans le domaine du pressing.</p>
  <p>Leur établissement, Cosy Press, s'est forgé une solide réputation en offrant des services</p>
  <p>de qualité supérieure et en traitant chaque vêtement avec une attention particulière.</p>
  <p>Grâce à leurs techniques spécialisées, ils parviennent à répondre aux besoins variés de leur clientèle tout en préservant la durabilité et l'esthétique des tissus</p>
  <img src="/tshirtsymbol.svg" alt="chemise" style="width: 50px; margin-top: 20px;">
</div>


<div class="align-center" style="text-align: center; margin: 50px 0;">
  <p>Au fil des années, Cosy Press est devenu un incontournable de la ville, attirant une</p>
  <p>clientèle fidèle grâce à son professionnalisme et à son service personnalisé.</p>
  <p>La confiance instaurée avec la clientèle repose sur la compétence de Bernard et Laëtitia,</p>
  <p>qui veillent à ce que chaque pièce de vêtement, qu'il s'agisse de tissus délicats ou robustes,</p>
  <p>soit traitée avec le plus grand soin.</p>
  <img src="/paniersymbol.svg" alt="chemise" style="width: 50px; margin-top: 20px;">
</div>


<div class="align-center" style="text-align: center; margin: 50px 0;">
  <p>La popularité croissante de Cosy Press témoigne de l'appréciation de la communauté</p>
  <p>pour leur savoir-faire et leur dévouement. En somme, Bernard et Laëtitia ont réussi à créer</p>
  <p>un lieu de confiance où les habitants de la ville peuvent compter sur des services de pressing de haute qualité.</p>
  <img src="/lovesymbol.svg" alt="chemise" style="width: 50px; margin-top: 20px;">
</div>
